@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
  <thead>
    <caption>Kevin Miguel Henrquez Pérez</caption>
    <tr>
      <th scope="col">Asignatura</th>
      <th scope="col">1L</th>
      <th scope="col">1P</th>
      <th scope="col">2L</th>
      <th scope="col">2P</th>
      <th scope="col">3L</th>
      <th scope="col">3P</th>
      <th scope="col">Prom</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">PRO AP. II</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
